# site
[site]
origin = "https://fungo.dev"
port = ":3000"
name = "Fungo"
slogan = "SIMPLE AND FAST STATIC SITE ENGINE"
theme = "fungo"
size = 10
amount = 3

# markdown
[site.markdown.state]
emoji = true
gfm = true

# highlighting
[site.markdown.highlighting]
state = true
theme = "github"
linenumber = true

# image
[site.markdown.image]
state = true
source = "/assets/img/loading.gif"
target = "data-src"

[site.markdown.image.attribute]
class = "lazy"

# link
[site.markdown.link]
state = true

[site.markdown.link.source]
"fungo.dev" = true

[site.markdown.link.attribute]
rel = "nofollow"
target = "_blank"

# video
[site.markdown.video]
state = true

[site.markdown.video.source]
"www.youtube.com" = "/embed"
"player.bilibili.com" = "/player.html"
"v.qq.com" = "/txp/iframe/player.html"

[site.markdown.video.attribute]
width = "560"
height = "315"
border = "0"
scrolling = "no"
frameborder = "no"
framespacing = "0"
allowfullscreen = "true"

# sitemap
[site.sitemap]
changefreq = "weekly"
priority = "0.7"

# feeds
[site.feeds]
action = "/post/"
limit = 100
content = false

# article
[[article]]
name = "post"
catalog = true
template = "posts"

[[article]]
name = "theme"
catalog = true
template = "themes"

# page
[[page]]
name = "page"
root = true

[[page]]
name = "tags"
catalog = true

# document
[[document]]
name = "doc"
sidebar = [
    { number = "1.", name = "起步", node = [
        { name = "概览", route = "/doc/overview/" },
    ] },
]

[[customize]]
name = "index"
route = "/"
action = "/tags/"

[[customize]]
name = "changelog"
route = "/changelog/"
action = "/tags/"

[[i18n]]
name = "index"
route = "/en/"
path = "en.toml"
action = "/tags/"

[[i18n]]
name = "index"
route = "/zh/"
path = "zh-CN.toml"
action = "/tags/"

[[static]]
name = "media"
subtree = ["audio", "video", "image"]

[[static]]
name = "assets"
subtree = ["css", "img", "js"]
